
body {
    background-color: #f7f7f7;
    margin: 0;
}

.training {
    text-align: center;

    .flashcard {
        padding: 1em;
        margin: 1em;

        .card-text {
            padding: 1em;
        }
    }

    .controls {
    }
}
